.myWorksBlock{
    height: 100vh;
    background-color: #d07cc0;
}

.myWorksContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: rgba(174,193,255,0.64);
}
.works{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .works {
        flex-direction: column;
        align-items: center;
    }
}
