@import "src/Common/styles/sass/variables";
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgba($bigSecondColor, 0.5);
    position: fixed;
}
