.contacts{
    height: 100vh;
    background-color: #faea52;
}
.contactsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form{
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 20px;
}
.form input{
    padding: 10px;
    margin-bottom: 15px;
}
.form textarea{
    min-height: 150px;
}
.contBtn{
    padding: 15px;
    background-color: #90daea;
    margin-bottom: 15px;
}