@import "src/Common/styles/sass/variables";

.footer{
    height: 20vh;
    background-color: $bigColor;
    .footerContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $textColor;
    }
    .footerBlock{
        display: flex;
        flex-direction: row;
        & a{
            margin-left: 10px;
            text-decoration: none;
            color: $textColor;
        }
        & a:hover{
            color: gold;
            transition: .3s;
        }
        @media screen and (max-width: 420px) {
                flex-direction: column;
        }
    }
    @media screen and (max-width: 420px) {
            height: 40vh;
    }
}

