.footer{
    height: 20vh;
    background-color: #90daea;
}
.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerBlock{
    display: flex;
    flex-direction: row;
}
.footerBlock a{
    margin-left: 10px;
    text-decoration: none;
    color: #f7f7f7;
}